*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    margin: auto;
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none; 
}

li:hover, li:active {  /*surligner le texte au passage de la souris + animation retournée "flip"*/
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

header, footer {
    background-color: #D36765;
    height : 7rem;
}

.logo-header {
    position: relative; /*position relative + z-index pour affichage au burger-menu*/
    z-index: 10;
    margin: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 8rem; /*limiter la taille d'affichage du logo*/
}

.carousel-image {
    margin: auto;
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.carousel {
    display: flex;              
    align-items: center;        /*centrer affichage image*/
    max-height: 45rem;          /*image pas trop haute*/
    overflow: hidden;       /*masquer les images du carousel tant qu'elles ne sont pas à l'écran au défilement*/
}

.carousel-elements {
    display: flex;
    align-items: center;
}

.element {
    flex: 1 0 100%;     /*pour que les images prennent 100% du body*/
}

.pagination {
    display: flex;
    justify-content: center;    /*centrer affichage par rapport image*/
    position: relative;
    z-index: 2;         /*afficher par dessus les images carousel*/
    bottom: 2.5rem;
}

.page {
    margin: 0.5rem;
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
}

.page:hover {
    background-color: #D36765;
}
  
.page.active {
    background-color: #D36765;
}

footer {
    margin-top: 2rem;
}

.icon-1:hover, .icon-2:hover, .icon-3:hover, .icon-4:hover {       /*animation "bounce" au passage de la souris sur les icones*/
    animation: bounce 1.4s ease infinite;
}

@keyframes bounce {
    0%, 5%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
}

/*Mobile Burger Menu*/
@media screen and (max-width: 939px) {  
    .navigation .croix {                   /*affichage croix qu'au moment d'affichage du burger menu + JS*/
        opacity: 0;
    }
    
    .navigation button {
        position: absolute;                 /*positionnement du burger menu + croix en absolu*/
        display: block;
        top: 3rem;
        right: 3rem;
        border: 0;
        background: none;
        color: #ffffff;
        padding: 0;
    
        &::before {
          content: ' ';
          position: absolute;
          left: calc(-130vmax + 100%);      /*positionnement gauche de la position originale de l'élément parent et par rapport à la fenêtre*/
          top: calc(-130vmax + 100%);
          width: calc(135vmax + 100%);
          height: calc(800vmax + 100%);
          background:  #D36765;
          z-index: 3;
          transform: scale3d(0, 0, 0);        /*affichage du background uniquement lorsqu'on clique sur le burger menu*/
        }
    
        &[aria\-expanded=true] {
          color: #fff;
        }
        
        &[aria\-expanded=true]::before {
          transform: scale3d(1, 1, 1);      /*affichage des liens uniquement lorsqu'on clique sur le burger menu*/
        }
      }

      .toggle-menu {
        position : absolute;
        z-index: 5;
        pointer-events: none;
        height: 50vh;               /*hauteur de la zone d'affichage*/
        display: flex;
        flex-direction: column;     /*agencement en colonne avec espace entre les éléments*/
        justify-content: space-between;
        letter-spacing: 0.3rem;
        margin: 2rem;
        padding: 1rem;
            
        & a {                       /*indique que les liens sont masqués avant le clique sur le burger menu*/
          text-decoration: none;
          color: #fff;
          opacity: 0;
          display: block;
        }
    
        & a:hover {
            text-decoration: underline;
        }
      }
      
      #menu:not([hidden]) {         /*affichage liens au clique sur burger menu*/
        pointer-events: all;
        
        & a {
          opacity: 1;
          font-size: 2rem;
        }
      }

      .croix {                  
        position: absolute;            /*positionnement croix en absolu pour affichage au dessus du background*/
        top: 1px;
        z-index: 10;             
        display: block;
        height: 32px;
        width: 32px;
      }

      .navigation .icon {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        margin: auto;
    } 

      .icon-1, .icon-2, .icon-3, .icon-4 {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
     }
    
    }

/*Affichage Ordinateur*/
@media only screen and (min-width: 940px) {
    .navigation button {            /*plus d'affichage du burger menu sur le format desktop*/
        display: none;
    }

    .toggle-menu,
    .footer-menu {
        position: relative;         /*gérer le positionnement du menu*/
        bottom: 6rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    } 
    
    .toggle-menu > li,
    .footer-menu > li {
        padding: 2rem;              /*espace entre les liens*/
    }

    .footer-menu {
        bottom:-1rem;
        justify-content: center;
    } 
}