body {
    color: hsl(232, 13%, 33%);
    background-color:hsl(240, 78%, 98%);
}

.site-header {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    margin-bottom: 2rem;
    padding-bottom: 10rem;
    height: 2rem;
    width: 100%;
}

h1 {
    border: none;
    color: hsl(233, 13%, 49%);
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

section {
    border-radius: 7px;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

section > button, div > button {
    letter-spacing: 0.1rem;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 2rem;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

span {
    color: hsl(234, 14%, 74%);
}

.bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bouton-glisse {                /*Gestion du bouton "checkbox"*/
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    width: 3.7rem;
    height: 2rem;
    border-radius: 7rem;
    cursor: pointer;
    position: relative;
    opacity: 0.5;
    transition: 0.2s;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.bouton-glisse::before {
    position: absolute;
    content: '';
    background-color: white;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 200px;
    margin:2.2px;
    transition: 0.2s;
}

input:checked + .bouton-glisse {
    opacity: 1;
}

input:checked + .bouton-glisse::before {
    transform: translateX(-1.9rem);
}

input {                 /*Masquer la case "checkbox" et afficher le "bouton-glisse" à la place*/
    display: none;
}

h2 {
    color: hsl(233, 13%, 49%);
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 1.5rem;
}

.pricing-1, .pricing-2, .pricing-3 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.pricing-1, .pricing-3 {
    background-color:white;
}

.pricing-1 .prix-mois, .pricing-1 .prix-annuel, .pricing-3 .prix-annuel, .pricing-3 .prix-mois {
    border-bottom: 1px solid rgb(179, 181, 198, 0.5); /*0.5 à la fin du rgb pour l'opacité de la bordure*/
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left : 2rem;
    margin-right: 2rem;
}

.pricing-1 .description, .pricing-3 .description {
    border-bottom: 1px solid rgb(179, 181, 198, 0.5); /*0.5 à la fin du rgb pour l'opacité de la bordure*/
    padding: 1rem;
}

.pricing-1 > button, .pricing-3 > button {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    border : white;
}

.pricing-1 > .more:hover, .pricing-3 > .more:hover, div > button:hover {
    background-image : none;            /*Pour que le hover fonctionne bien à cause du background-image linear gradient*/
    background-color: white;
    color: #696fdd;
    border : 1px solid hsl(237, 63%, 64%);
}

.pricing-2 {
    background-image: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.pricing-2 > div, .pricing-2 > h2 {
    color: white;
}

.pricing-2 > button {
    background-color: white;
    color: hsl(237, 63%, 64%);
    border : hsl(237, 63%, 64%);
}

.pricing-2 .prix-mois, .pricing-2 .prix-annuel {
    border-bottom: 1px solid rgb(246, 246, 254, 0.5); /*0.5 à la fin du rgb pour l'opacité de la bordure*/
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left : 2rem;
    margin-right: 2rem;
}

.pricing-2 .description {
    border-bottom: 1px solid rgb(246, 246, 254, 0.5); /*0.5 à la fin du rgb pour l'opacité de la bordure*/
}

.pricing-2 .more:hover {
    background-color: hsl(237, 63%, 64%);
    color: white;
    border : 1px solid white;
}

.description {
    padding: 1rem;
    margin-left : 2rem;
    margin-right: 2rem;
}

.prix-mois, .prix-annuel {
    font-size: 4rem;
}

.pagination {               /*masquer le système de pagination sur le mobile*/
    display: none;
}

footer {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

small {
    color: white;
}

/*Mobile Burger Menu*/
@media screen and (max-width: 939px) {  
    /*changement background couleur du burger menu*/
    .navigation button::before {
        background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    }
}

/*Affichage Ordinateur*/
@media only screen and (min-width: 940px) {
    .carousel-elements {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
    }

    .pricing {              /*fluidifier l'animation zoom*/
        transition: transform 0.5s ease-out;
    }
      
    .zoomed {                  /*zoom au clic + JS*/
        transform: scale(1.15);
        z-index: 2;
    }

    .pricing-1, .pricing-2, .pricing-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        margin-right: 0;
        margin-left: 0;
    }

    .pricing-1 .description, .pricing-3 .description{
        width: 75%;
    }

    .pricing-2 .description {
        width: 75%;
    }

    .pricing-2 .prix-mois, .pricing-2 .prix-annuel {
        width: 75%;
    }

    .pricing-1 .prix-mois, .pricing-1 .prix-annuel, .pricing-3 .prix-mois, .pricing-3 .prix-annuel {
        width: 75%;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .page {
        margin: 0 1rem;
        padding: 0.5rem;
        border: none;
        cursor: pointer;
        background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        border-radius: 50px;
    }
      
    .page.active {
        background-image: none;
        background-color: hsl(232, 13%, 33%);
    }
}

/*Affichage Tablette*/
@media only screen and (min-width: 940px) and (max-width: 1400px) {
    .carousel-elements {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    
    .pricing-1, .pricing-2, .pricing-3 {
        width: 34%;
    }
}