*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {        /*centrer les conteneurs au centre de page*/
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-size: 15px;
    text-align: center;
}

img, a {
    margin: auto;
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

li:hover, li:active {  /*surligner le texte au passage de la souris + animation retournée "flip"*/
    color: white;
    text-decoration: underline;
    cursor: pointer;
    backface-visibility: visible !important;
	animation: flip 1.7s ease infinite;
}

@keyframes flip {
	0% {
		transform: rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: rotateY(190deg);
		animation-timing-function: ease-in;
	}
	80% {
		transform: rotateY(360deg);
		animation-timing-function: ease-in;
	}
	100% {
		transform: scale(1);
		animation-timing-function: ease-in;
	}
}

.site-header {
    background-image: url(images/mobile/image-hero.jpg);
    background-size: cover;
    margin-bottom: 7rem;
    padding-bottom: 30rem; /*visuel header sur tout l'écran*/
}

.logo-header {
    position: relative; /*position relative + z-index pour affichage au burger-menu*/
    z-index: 10;
    margin: 0;
    margin-bottom: 15rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 15rem; /*limiter la taille d'affichage du logo*/
}

[class*="reveal-"] {           /*Valeur par défaut : caché avant défilement utilisateur de toutes les classes ayant un "reveal-"*/
    opacity: 0;
    transform: translateY(20px);
}

.reveal-visible {   /*Valeur apparition : au défilement utilisateur + JS*/
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(0.5, 0, 0, 1); /*cubic-bezier = acceleration / deceleration*/
}

.reveal-2 {             /*Transition plus lente pour certains contenus*/
    transition-delay: 0.2s;
}

.toggle-menu > li {
    text-transform: uppercase
}

.titre-header {
    display: flex;
    justify-content: space-between;
}

h1 {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 100;
    text-align: left;
    padding: 1rem;
}

h1, h2, h3, button {
    text-transform: uppercase;
}

.leader-text {
    padding-right: 2rem;
    padding-left: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 5rem;
}

.creation {
    padding-bottom: 1.5rem;
}

.titre-creation {
    padding-bottom: 3rem;
}

p {
    color: hsl(0, 0%, 41%);
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    line-height: 1.8rem;
}

h3 {
    margin: 2rem;
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    color: white;
    font-weight: 100;
    font-size: 1.8rem;
    cursor: pointer;
    text-align: left;
}

h3:hover { /*animation au passage de la souris*/
    opacity: 0.5;
    font-weight: bold;
}

.h3-1 {
    background-image: url(images/mobile/image-deep-earth.jpg);
    background-size: cover;
}

.h3-2 {
    background-image: url(images/mobile/image-night-arcade.jpg);
    background-size: cover;
}

.h3-3 {
    background-image: url(images/mobile/image-soccer-team.jpg);
    background-size: cover;
}

.h3-4 {
    background-image: url(images/mobile/image-grid.jpg);
    background-size: cover;
}

.h3-5 {
    background-image: url(images/mobile/image-from-above.jpg);
    background-size: cover;
}

.h3-6 {
    background-image: url(images/mobile/image-pocket-borealis.jpg);
    background-size: cover;
}

.h3-7 {
    background-image: url(images/mobile/image-curiosity.jpg);
    background-size: cover;
}

.h3-8 {
    background-image: url(images/mobile/image-fisheye.jpg);
    background-size: cover;
}

.all {
    color:black;
    background-color: white;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-weight: bold;
    margin-bottom: 6rem;
    border: 1px solid black;
    cursor: pointer;
    letter-spacing: 0.2rem;
    
}

.all:hover { /*animation au passage de la souris*/
    background-color: black;
    color: white;
}

footer {
    position: relative; /*position relative absolu pour le format desktop icônes + small texte*/
    background-color: black;
    padding-top: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 0.1rem;
}

.logo-footer {
    width: 10rem; /*limitation largeur logo*/
    margin: 0 auto;
    padding-bottom: 1rem;
}

.footer-menu > li {
    padding: 0.8rem;
}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    cursor: pointer;
}

.icon-1, .icon-2, .icon-3, .icon-4 {
    margin: 0.5rem;
}

.bounce {              /*animation "bounce" au passage de la souris sur les icones*/
    animation: bounce 1.4s ease infinite;
}

@keyframes bounce {
    0%, 5%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
}

small {
    color:hsl(0, 0%, 55%);
}

/*Mobile Burger Menu*/
@media screen and (max-width: 939px) {  
    .navigation .croix {                   /*affichage croix qu'au moment d'affichage du burger menu + JS*/
        opacity: 0;
    }
    
    .navigation button {
        position: absolute;                 /*positionnement du burger menu en absolu*/
        display: block;
        top: 47px;
        right: 20px;
        border: 0;
        height: 32px;
        background: none;
        color: #ffffff;
        padding: 0;
    
        & svg:last-child {
          position: absolute;              /*positionnement croix en absolu pour affichage au dessus du background*/
          top: 1px;
          z-index: 10;             
          display: block;
          pointer-events: none;
          height: 32px;
          width: 32px;
        }
    
        &::before {
          content: ' ';
          position: absolute;
          left: calc(-130vmax + 100%);
          top: calc(-130vmax + 100%);
          width: calc(135vmax + 100%);
          height: calc(800vmax + 100%);
          background: #000000;
          z-index: 3;
          transform: scale3d(0, 0, 0);        /*affichage du background uniquement lorsqu'on clique sur le burger menu*/
        }
    
        &[aria\-expanded=true] {
          color: #fff;
        }
        
        &[aria\-expanded=true]::before {
          opacity: 1;
          transform: scale3d(1, 1, 1);      /*affichage des liens uniquement lorsqu'on clique sur le burger menu*/
        }
      }
    
      .toggle-menu {
        position : absolute;
        z-index: 5;
        pointer-events: none;
        height: 50vh;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-around;
        letter-spacing: 0.3rem;
        padding: 1rem;
    
        & a {
          text-decoration: none;
          color: #fff;
          opacity: 0;
          display: block;
        }
    
        & a:hover {
            text-decoration: underline;
        }
      }
      
      #menu:not([hidden]) {
        pointer-events: all;
        
        & a {
          opacity: 1;
          font-size: 2rem;
        }
      }
    }

/*Affichage Ordinateur*/
@media only screen and (min-width: 940px) {
    .site-header {
        background-image: url(images/desktop/image-hero.jpg);
        padding-bottom: 20rem; /*visuel header sur tout l'écran*/
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .navigation button { /*plus d'affichage du burger menu sur le format desktop*/
        display: none;
    }

    .toggle-menu,
    .footer-menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        overflow : hidden;
    } 
    
    .toggle-menu > li,
    .footer-menu > li {
        padding: 15px;
        text-transform: capitalize;
    } 

    .toggle-menu {
        position: relative;
        bottom: 20rem;
        justify-content: flex-end;
    }

    h1 {
        padding: 2rem;
        padding-right: 5rem;
    }

    .leader {
        width: 80%;
        position: relative; /*pour permettre la position relative absolue pour texte sur image*/
        margin: auto;
    }

    .interactive {
        margin-left: 15rem;
        margin-bottom: 10rem;;
    }

    .leader-text {
        padding: 2rem;
        position: absolute;
        z-index: 2; /*texte par dessus Img*/
        width: 500px;
        background-color: #fff;
        left: 820px;
        top: 180px;
    }
    
    .leader-text > p {
        text-align: left;
    }

    .creation {
        display: flex;  /*permettre de centrer le conteneur*/
        margin: auto;
    }

    .titre-creation {
        text-align: left;
        margin-left: 1rem;
    }

    .creations-grid {
        display: grid; /*format grille plus simple pour avoir le nb de colonnes précis*/
        grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr;
        margin: auto;
    }

    h3 { 
        margin: 1rem;
        width: 18rem;
        padding-top: 22rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
    }

    .h3-1 {
        background-image: url(images/desktop/image-deep-earth.jpg);
    }
    
    .h3-2 {
        background-image: url(images/desktop/image-night-arcade.jpg);
    }
    
    .h3-3 {
        background-image: url(images/desktop/image-soccer-team.jpg);
    }
    
    .h3-4 {
        background-image: url(images/desktop/image-grid.jpg);
    }
    
    .h3-5 {
        background-image: url(images/desktop/image-from-above.jpg);
    }
    
    .h3-6 {
        background-image: url(images/desktop/image-pocket-borealis.jpg);
    }
    
    .h3-7 {
        background-image: url(images/desktop/image-curiosity.jpg);
    }
    
    .h3-8 {
        background-image: url(images/desktop/image-fisheye.jpg);
    }

    .all { /*positionnement du bouton en haut de la grille vs en bas pour format mobile*/
        position: relative;
        bottom: 64.5rem;
        left: 34rem;
    }

    footer {
        height : 2%;
    }

    .logo-footer {
        margin-left: 1rem;
    }

    .icon {
        position: relative;
        bottom: 8.3rem;
        justify-content: end;
    }

    small {
        position: absolute; /*pour ne pas que le conteneur empiète sur le footer-menu pour l'animation des liens en hover*/
        right: 4rem;
        bottom: 6.4rem;
    }
  }

  
/*Affichage Tablette*/
@media only screen and (min-width: 940px) and (max-width: 1500px) {
    .interactive {
        margin: 0 auto;
    }
    
    .leader-text {
        width: 100%;
        position: static; /*remettre dans le flux normal en mode responsive pour éviter une marge blanche autour de la page*/
        padding: 2rem;
    }

    .leader-text > p {
        text-align: center;
    }

    .titre-creation {
        text-align: center;
    }

    .creations-grid {
        display: flex; 
        flex-wrap: wrap; /*permettre la passage à la ligne au moment du rétrécissement de la page*/
        justify-content: center;
    }

    .all {
        position: static; /*repasser le bouton en bas au rétrécissement de la page*/
    }
}